[submodule "wp-content/plugins-mu/vendor/extended-cpts"]
	path = wp-content/plugins-mu/vendor/extended-cpts
	url = https://github.com/johnbillion/extended-cpts.git
[submodule "wp-content/plugins-mu/vendor/extended-taxos"]
	path = wp-content/plugins-mu/vendor/extended-taxos
	url = https://github.com/johnbillion/extended-taxos.git
[submodule "wp-content/plugins-mu/vendor/extended-template-parts"]
	path = wp-content/plugins-mu/vendor/extended-template-parts
	url = https://github.com/johnbillion/extended-template-parts.git
[submodule "wp-content/plugins-mu/vendor/custom-meta-boxes"]
	path = wp-content/plugins-mu/vendor/custom-meta-boxes
	url = https://github.com/humanmade/Custom-Meta-Boxes.git
[submodule "wp-content/plugins-mu/vendor/lightncandy"]
	path = wp-content/plugins-mu/vendor/lightncandy
	url = https://github.com/zordius/lightncandy.git
