/*
 * Colors.
 */
$geranium-red:     #dc2a2a;
$aero-blue:        #6ac5df;
$onyx-black:       #241d29;
$aubergine-purple: #352d3b;
$storm-grey:       #716675;
$timberwolf-grey:  #dbd7d7;
$eggshell-grey:    #f5f3f0;
$white:            #fff;
